<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CN uRank</title>
    {% load static %}
    {% load render_bundle from webpack_loader %}


    {% block css %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'comet_urank/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/urank/css/urank.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/urank/css/urank-blocks-default.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/urank/css/vis-ranking.css' %}"> -->
    {% endblock %}

</head>


<body>
        
    <header>
    <!--     <select id="select-dataset"></select>
        <div class="num-results-msg"></div>
        <input type="button" id="btn-finish" value="Finish"/> -->
    </header>


    <div class="main-panel">

        <div class="control-panel">
            <div class="container">
                <span class="favicon"></span>
                <h4>Bookmarked Documents (0)</h4>
                <div class="bookmark-area"></div>
            
            </div>
        </div>

        <div class="left-panel">
            <div class="list-header" style="height: 79px;">
                <div class="list-header-pos-and-shift">
                    <div class="label-vertical">Position</div>
                </div>
                <div class="list-header-pos-and-shift">
                    <div class="label-vertical">Shift</div>
                </div>
                <div class="list-header-title">
                    <div class="label">Document Titles</div>
                </div>
            </div>
            <div id="contentlist" ></div>
        </div>
        <div class="central-panel">
            <div id="tagbox"></div>
            <div id="viscanvas"></div>
        </div>

        <!-- <div class="right-panel" id="tagcloud"></div> -->
        <div class="right-panel">
            <div id="tagcloud"></div>
            <div id="neighborscloud"></div>
        </div>
        
    </div>

    <div class="processing-message" style="display:none;">
       <div class="content">Processing Data...</div>
    </div>

    {% render_bundle 'vendor' %}
    {% render_bundle 'main_conf_nav' %}
 

    {% block js %}
    {% endblock js %}

</body>
</html>


