ENV/
migrations/
node_modules/
assets/bundles/
/static/
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
upmc/static/upmc/datasets/
upmc/pubmed_result.csv
upmc/static/upmc/datasets/pubmed_result.csv
/webpack-stats.json
output.txt
plugins/urank-original
plugins/urank_ui_remove
