ENV/
migrations/
node_modules/
assets/bundles/
static/
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
upmc_urank/static/upmc_urank/datasets/
upmc_urank/pubmed_result.csv
upmc_urank/static/upmc_urank/datasets/pubmed_result.csv
webpack-stats.json