
.center-aligned {
	position: relative;
	display: inline-block;
	width: 500px;
    height: 100%;
    float: left;
    left: calc(50% - 500px);
    padding: 14px;
	text-align: center;

	h5 {
	    display: inline-block;
		font-size: 13px;
		color: #438ac7;
		font-weight: 600;
		margin: 0px;
		text-shadow: 1px 1px #ddd;
	}
}

.container {
    height: calc(100% - 100px);
	margin: 30px;

	.row {
		height: 100%;
	}
    
	.form-group {
		margin-bottom: 25px;
	}
	
	.question-container, .intro-container {
		height: 100%;
		padding: 10px;
	    border: 1px solid #ddd;
	    border-radius: 10px;
	    overflow-y: auto;

	}

	label.question-text {
		display: block;
		font-size: 14px;
	}

	label.min_max {
		color: #888;
	}

	.btn-group {
		margin: 0px 5px;
	}

	p.intro {
		font-size: 13px;
	}

	ul {
		li {
			font-size: 13px;	
		}
		
	}

	.radio-btn-group {
		display: inline-block;

		label {
			display: block;
			font-size: 13px;
			color: #666;
		}

	}

	h3 {
		font-size: 28px;
		font-weight: bold;
		text-align: center;
	}
}



