<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PubMed Study</title>
    {% load static %}
    {% load render_bundle from webpack_loader %}
</head>


<body>     
    <header>
        <div class="logo">PubMed Study</div>
    </header>

    <!-- Google Form iFrame HERE (width="100%" height="100%") -->
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdtAXbygUQwHVtDf15F7q-G0g81o3Iknk6lhVkWMlF7QsWF9g/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <!-- Google Form iFrame HERE -->


    {% render_bundle 'vendor' %}
    {% render_bundle 'conf_nav_eval_general' %}

</body>
</html>


